@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin top_center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin top_left {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin top_right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin bottom_center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin bottom_left {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin bottom_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

@mixin left_center {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
}

@mixin right_center {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

// OLD
@mixin center-tl {
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin center-tr {
  top: 50%;
  right: 0;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin center-l {
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin center-t {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@mixin plr {
  padding: 0 50px;
  box-sizing: border-box;

  @include respond-to(mobile) {
    padding: 0 10px;
  }
}

@mixin ptb {
  padding: 60px 0;
  box-sizing: border-box;

  @include respond-to(mobile) {
    padding: 40px 0;
  }
}

@mixin mb {
  margin-bottom: 60px;

  @include respond-to(mobile) {
    margin-bottom: 40px;
  }
}