div#imPageRow_4.imPageRow
  div#imPageRowGraphics_7
  div#imPageRowContent_4.imContentDataContainer
    #advantages.position-relative.mb-16px
      .text-inner.pt-48px
        .font-28px.text_center.mb-20px
          span.font-.mr-4px.ml-4px
            | ABOUT US
    .im-advantages
      .im-adv
        = image_tag("advatnages2_03.png", alt: "", width: 62, height: 52, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title LICENSED TOUR OPERATOR
          p.im-adv__text Official certification of Unified Federal Register of Tour Operators of the Russian Federation.
      .im-adv
        = image_tag("advatnages2_11.png", alt: "", width: 62, height: 52, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title INSTANT REPLY TO YOUR EMAIL
          p.im-adv__text
            | Receive your tourist invitation within
            b.color-red.ml-4px 30 minutes.
      .im-adv
        = image_tag("advatnages2_06.png", alt: "", width: 62, height: 52, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title THE BEST PRICE
          p.im-adv__text
            | Cost of tourist invitation letter is
            b.color-red.ml-4px = raw default_price(currency: @currency, tariff: @tariff) + "."
      .im-adv
        = image_tag("advantages3_14.png", alt: "", width: 62, height: 58, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title HOTEL BOOKING ASSISTANCE:
          p.im-adv__text Provide assistance with hotel reservation for your visit to the Russian Federation. Obtaining a visa requires a valid reservation.
      .im-adv
        = image_tag("pay_logo_06.jpg", alt: "", width: 63, height: 53, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title ALL MAJOR PAYMENTS TYPES ARE ACCEPTED
          p.im-adv__text PayPal, Visa, MasterCard, American Express, etc.
      .im-adv
        = image_tag("pay_logo_08.jpg", alt: "", width: 61, height: 52, class: "im-adv__icon")
        .im-adv__body
          .im-adv__title SECURE AND AUTHENTIC WEBSITE
          p.im-adv__text Your data is secure with SSL encryption from a leading internet security provider.
    .im-adv-notes
      p.im-adv-note
        | The ultimate goal of our company is to provide easy access and ensure the quality of services required in order for an applicant to receive a Russian Visa in the most advanced and inexpensive way.
      p.im-adv-note
        | Our company have a license from Ministry of Economic Development of the Russian Federation that ensures to get Russian visa with 100% guarantee
