div#imPageRow_6.imPageRow
  div#imPageRowGraphics_6
  div#imPageRowContent_6.imContentDataContainer
    #ask_your.position-relative.mb-24px
      .text-inner.pt-48px
        .font-28px.text_center.mb-20px
          span.color-white
            | DON'T SEE YOUR QUESTION? CONTACT US
      a.btn.big.blue.margin-center.border-white href="mailto:manager@russvisa.com?subject=&body=" ASK YOUR QUESTION
    .im-cols
      .im-cols__cell
        b.color-white You can now place your order for an invitation letter with a 100% guarantee – exactly what you’re looking for.
      .im-cols__cell
        b.color-white If you haven’t yet chosen a company to provide your Russian invitation, we recommend adding russvisa.com to your bookmarks – you won’t find a more affordable service.
