div#imPageRow_1.imPageRow
  div#imPageRowContent_1.imContentDataContainer
    .im-hero
      h1.myh
        | Invitation for Russian visa online
      .mb-12px
        b.im-hero__lead
          | Easy way to get it in 2 clicks for
        a.btn.blue.ml-8px.font-20px.bold.border-white href="#pricing"
          = raw default_price(currency: @currency, tariff: @tariff)
      p.im-hero__text
        | Our company's Russian letter of invitation just for
        b.im-hero__price.ml-4px.mr-4px
          = raw default_price(currency: @currency, tariff: @tariff)
        | which consists of
        b.ml-4px.mr-4px
          | tourist confirmation
        | and
        b.ml-4px
          | tourist voucher
        |, will ensure you a Russian visa with 100% guarantee.
      p.im-hero__text
        | Russvisa is a private consulting agency, not affiliated with any government or embassy, and is listed in the official registry of tour operators.
      a.btn.blue.big.border-white href="#invitationForm"
        | GET INVITATION ONLINE
