- add_tariff = params[:tariff].present? ? "?tariff=#{params[:tariff]}" : ""
div#imFooter.site-footer
  div#imFooterObjects
    div.site-footer__inner
      a.site-footer__link href="/russ_tourist#{add_tariff}"
        | Russian tourist voucher
      a.site-footer__brand href="/"
        = image_tag("logo_up_03.png", alt: "Fortuna Travel", width: 85, height: 86, class: "site-footer__logo")
        span.site-footer__title Fortuna Travel
        span.site-footer__sub invitation to Russia
        span.site-footer__online online
      a.site-footer__link href="files/Terms_and_Conditions.pdf" target="_blank"
        | Terms and conditions
    div.site-footer__copy © 2026
