.imPageRow.bg-blue.display_flex.center.font-18px
  div.mt-8px.color-white.mb-8px
    span Tourist invitation for Russian visa = tourist voucher + tourist confirmation =
    b.ml-4px = raw default_price(currency: @currency, tariff: @tariff)

