div#imPageRow_8.imPageRow
  div#imPageRowGraphics_8
  div#imPageRowContent_8.imContentDataContainer
    #reviews.position-relative
      .text-inner.pt-48px
        .font-28px.text_center.mb-20px
          span
            | WHAT
          span.font-.red.mr-4px.ml-4px
            | OUR CUSTOMERS
          span
            | SAY
      .text-inner.mb-24px
        |The following quotes are typical for the customer appreciation Russvisa receives. This underlines our commitment to provide total customer satisfaction and be your trusted service  and advisor.
    .im-reviews
      .im-review
        .im-review__head
          = image_tag("rew_icon_15.png", class: "im-review__icon")
          span.im-review__name Donald. India
        p.im-review__text
          | This is to let you know that I have now received my 3 year multiple entry Russian visa. Many thanks for your excellent professional assistance.
        .im-review__rating
          b Rating
          - 5.times do
            = image_tag("rew_icon_19.png", class: "im-review__star")
      .im-review
        .im-review__head
          = image_tag("rew_icon_15.png", class: "im-review__icon")
          span.im-review__name Darren. Warrington. UK
        p.im-review__text
          | Thanks, excellent service. I'm very grateful. Unfortunately, I'm not on Facebook. Kind Regards
        .im-review__rating
          b Rating
          - 5.times do
            = image_tag("rew_icon_19.png", class: "im-review__star")
      .im-review
        .im-review__head
          = image_tag("rew_icon_15.png", class: "im-review__icon")
          span.im-review__name Visa agency, London. UK
        p.im-review__text
          | Thank you again for your excellent service! Kind regards, Joe
        .im-review__rating
          b Rating
          - 5.times do
            = image_tag("rew_icon_19.png", class: "im-review__star")
      .im-review
        .im-review__head
          = image_tag("rew_icon_15.png", class: "im-review__icon")
          span.im-review__name Janet. Epsom, UK
        p.im-review__text
          | Would recommend your service to anyone, great job and does it excellently
        .im-review__rating
          b Rating
          - 5.times do
            = image_tag("rew_icon_19.png", class: "im-review__star")
