div#imHeader.site-header
  div#imHeaderObjects
    a.site-brand href="/"
      = image_tag("logo_up_03.png", alt: "Fortuna Travel", width: 85, height: 86, class: "site-brand__logo")
      span.site-brand__title Fortuna Travel
      span.site-brand__sub invitation to Russia
      span.site-brand__online online
