div#imHeaderBg
div#imFooterBg
div#imPage
  = render 'site_header'


  a.imHidden href="#imGoToCont" title="Skip the main menu"
    | Go to content
  span#imGoToMenu
  p.imHidden
    | Main menu:
  = render 'header_menu'
  main#imContentContainer
    div#imContentGraphics
    div#imContent
      span#imGoToCont
      div#imGroup_1.imVGroup
        = render "company_info"
        / = render "header_social"
        = render "price_info"
        = render "advantages"
        div#imPageRow_7.imPageRow
          div#imPageRowGraphics_7
          div#imPageRowContent_7.imContentDataContainer
            = render 'prices_block1'
            = render 'prices_block2'
            .position-relative
              .text-inner.pt-48px
                .font-28px.text_center.mb-20px
                  span
                    | FILL OUT THE
                  span.font-.red.mr-4px.ml-4px
                    | APPLICATION FORM
            = render 'contact_form'
        = render 'reviews'
        = render "banner_steps"
        = render "faq"
        = render "ask_your"
        = render "contacts"
        div#imPageRow_12.imPageRow
          div#imPageRowContent_12.imContentDataContainer
            div#imGroup_19.imEGroup
      div#imFooPad
      div#imBtMnContainer.imContentDataContainer
        div#imBtMn
          a href="#about"
            | ABOUT US
          | |
          a href="#faq"
            | FAQ
          | |
          a href="license.html"
            | LICENSE
          | | PRICING |
          a href="#reviews"
            | REVIEWS
          | |
          a href="#contact"
            | CONTACTS
          | |
          a href="imsitemap.html"
            | General Site Map
      div.imClear
  = render "footer"
span.imHidden
  a href="#imGoToCont" title="Read this page again"
    | Back to content
  | |
  a href="#imGoToMenu" title="Remain on this page"
    | Back to main menu

