div#imHeaderBg
div#imFooterBg
div#imPage
  = render 'site_header'


  a.imHidden href="#imGoToCont" title="Skip the main menu"
    | Go to content
  a#imGoToMenu href="/"
  p.imHidden
    | Main menu:
  = render 'header_menu'
  div#imContentContainer
    div#imContent
      a#imGoToCont href="/"
      div#imGroup_1.imVGroup
      = render "voucher"
    = render "footer"