div#imHeaderBg
div#imFooterBg
div#imPage
  = render 'site_header'


  a.imHidden href="#imGoToCont" title="Skip the main menu"
    | Go to content
  span#imGoToMenu
  p.imHidden
    | Main menu:
  = render 'header_menu'
  main#imContentContainer
    div#imContent
      span#imGoToCont
      div#imGroup_1.imVGroup
      = render "voucher"
    = render "footer"