@-webkit-keyframes imCell_85-anim-bounceInRight {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes imCell_85-anim-bounceInRight {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: none;
    transform: none;
  }
}
/* === Remove input autofocus webkit === */
/* === Form Typography === */
/* === List Styles === */
/* === Form Header === */
/* === Form Elements === */
/* form element visual styles */
/* === HTML5 validation styles === */
/* === Form hints === */
/* === Button Style === */
li.clear_selector {
  width: 100%;
}
li.clear_selector .date-picker-holder {
  width: 100%;
  display: flex;
  column-gap: 4px;
}
li.clear_selector .date-picker-holder select {
  width: 100% !important;
  margin: 0 !important;
}

#image-0 {
  width: 19px;
  height: 18px;
}

#imGroup_1 {
  float: left;
}

#imGroup_3 > div {
  float: left;
}

#imCell_72 {
  display: block;
  position: relative;
  overflow: hidden;
}

#imCellStyle_72 {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

#imCellStyleGraphics_72 {
  position: absolute;
  top: 3px;
  bottom: 3px;
  background-color: transparent;
}

#imTextObject_72 {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
}

#imTextObject_72_tab0 ul {
  list-style: disc;
  margin: 0 8px;
  padding: 0px;
  overflow: hidden;
}
#imTextObject_72_tab0 ul ul {
  list-style: square;
  padding: 0 0 0 20px;
}
#imTextObject_72_tab0 ul ul ul {
  list-style: circle;
}
#imTextObject_72_tab0 ul li {
  margin: 0 0 0 15px;
  padding: 0px;
  font-size: 9pt;
  line-height: 19px;
}
#imTextObject_72_tab0 table {
  border: none;
  padding: 0;
  border-collapse: collapse;
}
#imTextObject_72_tab0 table td {
  border: 1px solid black;
  word-wrap: break-word;
  padding: 4px 3px 4px 3px;
  margin: 0;
  vertical-align: middle;
}
#imTextObject_72_tab0 p {
  margin: 0;
  padding: 0;
}
#imTextObject_72_tab0 .inline-block {
  display: inline-block;
}
#imTextObject_72_tab0 sub {
  vertical-align: sub;
  font-size: smaller;
}
#imTextObject_72_tab0 img {
  border: none;
  margin: 0;
  vertical-align: text-bottom;
}

#imCell_3 {
  display: block;
  position: relative;
  overflow: hidden;
}

#imCellStyle_3 {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  z-index: 2;
}

#imCellStyleGraphics_3 {
  position: absolute;
  top: 3px;
  bottom: 3px;
  background-color: transparent;
}

#imTextObject_03 {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
}

#imTextObject_03_tab0 ul {
  list-style: disc;
  margin: 0 8px;
  padding: 0px;
  overflow: hidden;
}
#imTextObject_03_tab0 ul ul {
  list-style: square;
  padding: 0 0 0 20px;
}
#imTextObject_03_tab0 ul ul ul {
  list-style: circle;
}
#imTextObject_03_tab0 ul li {
  margin: 0 0 0 15px;
  padding: 0px;
  font-size: 9pt;
  line-height: 19px;
}
#imTextObject_03_tab0 table {
  border: none;
  padding: 0;
  border-collapse: collapse;
}
#imTextObject_03_tab0 table td {
  border: 1px solid black;
  word-wrap: break-word;
  padding: 4px 3px 4px 3px;
  margin: 0;
  vertical-align: middle;
}
#imTextObject_03_tab0 p {
  margin: 0;
  padding: 0;
}
#imTextObject_03_tab0 .inline-block {
  display: inline-block;
}
#imTextObject_03_tab0 sub {
  vertical-align: sub;
  font-size: smaller;
}
#imTextObject_03_tab0 img {
  border: none;
  margin: 0;
  vertical-align: text-bottom;
}

#imPageRowGraphics_4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(asset-path("bg_advantages_02.jpg")) repeat center top;
  opacity: 1;
}

#imCell_10 {
  display: block;
  position: relative;
  overflow: hidden;
}

#imCellStyle_10 {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

#imTextObject_10 {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
}

#imPageRowGraphics_5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(asset-path("bg_faq.webp")) repeat center top;
  opacity: 1;
}

#imPageRowGraphics_6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(asset-path("fon-blue_10.webp")) no-repeat center center;
  background-size: cover;
  opacity: 1;
}

#imPageRowGraphics_7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(asset-path("bg_icon.webp")) repeat center center;
  opacity: 1;
}

#imGroup_9 > div {
  float: left;
}

#imGroup_10 > div {
  float: left;
}

#imGroup_11 > div {
  float: left;
}

#imCell_112 {
  display: block;
  position: relative;
  overflow: hidden;
}

#imCellStyle_112 {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  z-index: 2;
}

*:focus {
  outline: none;
}

body {
  font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.contact_form h2.form-section-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  display: inline;
}
.contact_form p.center_button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.contact_form label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 3px;
  display: inline-block;
  padding-bottom: 10px;
}
.contact_form ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 50px 20px 10px 10px;
  padding: 0px;
}
.contact_form li {
  padding: 7px;
  position: relative;
}
.contact_form input {
  height: 20px;
  width: 100%;
  padding: 5px 0px 5px 10px !important;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
  padding-right: 5px;
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
}
.contact_form input:focus {
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
  padding-right: 10px;
}
.contact_form input:focus:invalid {
  background: #fff url(asset-path("invalid.png")) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}
.contact_form input:focus + .form_hint {
  display: inline;
}
.contact_form input:required {
  background: #fff url(asset-path("red_asterisk.png")) no-repeat 98% center;
}
.contact_form input:required:valid {
  background: #fff url(asset-path("valid.png")) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.contact_form input:required:valid + .form_hint {
  background: #28921f;
}
.contact_form input:required:valid + .form_hint::before {
  color: #28921f;
}
.contact_form textarea {
  padding: 8px;
  width: 100%;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
  padding-right: 5px;
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
}
.contact_form textarea:focus {
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
  padding-right: 10px;
}
.contact_form textarea:focus:invalid {
  background: #fff url(asset-path("invalid.png")) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}
.contact_form textarea:required {
  background: #fff url(asset-path("red_asterisk.png")) no-repeat 98% center;
}
.contact_form textarea:required:valid {
  background: #fff url(asset-path("valid.png")) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.contact_form button {
  margin-left: 0px;
}

.form_hint {
  font-size: 11px;
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;
  position: absolute;
  display: none;
}
.form_hint::before {
  content: "\25C0";
  color: #d45252;
  position: absolute;
  top: 1px;
  left: -6px;
}

.required_notification {
  font-size: 11px;
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline;
  float: right;
}

.form-control {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
  height: 35px;
  width: 100%;
  padding: 5px 8px;
}

.line {
  border-bottom: 1px solid #777;
  margin: 20px 0px 0px 0px;
}

button.submit {
  background-color: #68b12f;
  background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
  opacity: .85;
  cursor: pointer;
}
button.submit:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
  -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

.center_button {
  text-align: center;
}

#imPageRowGraphics_8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F4F3F3;
  opacity: 1;
}

#imPageRowGraphics_11 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(asset-path("bg_faq.webp")) repeat center center;
  opacity: 1;
}

@media (min-width: 1100px) {
  .imContentDataContainer {
    width: 1068px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    width: 1068px;
  }

  #imCell_72 {
    width: 528px;
    min-height: 117px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_72 {
    width: 528px;
    min-height: 117px;
    padding: 43px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_72 {
    left: 3px;
    right: 3px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 46px;
    height: 47px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 249px;
    height: 46px;
  }

  #imCell_3 {
    width: 528px;
    min-height: 117px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_3 {
    width: 528px;
    min-height: 117px;
    padding: 50px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_3 {
    left: 3px;
    right: 3px;
  }

  #imCell_10 {
    width: 524px;
    min-height: 134px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 10px;
  }

  #imCellStyle_10 {
    width: 524px;
    min-height: 134px;
    padding: 0px 0px 71px 0px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_9 {
    width: 1068px;
  }

  #imGroup_10 {
    width: 1068px;
  }

  #imGroup_11 {
    width: 534px;
  }

  #imCell_112 {
    width: 528px;
    min-height: 1906px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_112 {
    width: 528px;
    min-height: 1906px;
    padding: 3px 3px 3px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_19 {
    width: 1068px;
    height: 0px;
  }
}
@media (max-width: 1099px) and (min-width: 720px) {
  .imContentDataContainer {
    width: 688px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    width: 688px;
  }

  #imCell_72 {
    width: 682px;
    min-height: 77px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_72 {
    width: 682px;
    min-height: 77px;
    padding: 3px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_72 {
    left: 3px;
    right: 3px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 46px;
    height: 47px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 249px;
    height: 46px;
  }

  #imCell_3 {
    display: none;
    clear: left;
    width: -2px;
    min-height: -6px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  #imCellStyle_3 {
    width: -2px;
    min-height: -5px;
    padding: -30px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_3 {
    left: 1px;
    right: 1px;
  }

  #imCell_10 {
    width: 678px;
    min-height: 42px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 10px;
  }

  #imCellStyle_10 {
    width: 678px;
    min-height: 42px;
    padding: 0px 0px 0px 0px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_9 {
    width: 688px;
  }

  #imGroup_10 {
    width: 688px;
  }

  #imGroup_11 {
    width: 688px;
  }

  #imCell_112 {
    width: 682px;
    min-height: 1906px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_112 {
    width: 682px;
    min-height: 1906px;
    padding: 3px 3px 3px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_19 {
    width: 688px;
    height: 0px;
  }
}
@media (max-width: 719px) and (min-width: 480px) {
  .imContentDataContainer {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    width: 448px;
  }

  #imCell_72 {
    width: 442px;
    min-height: 77px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_72 {
    width: 442px;
    min-height: 77px;
    padding: 3px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_72 {
    left: 3px;
    right: 3px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 46px;
    height: 47px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 249px;
    height: 46px;
  }

  #imCell_3 {
    display: none;
    clear: left;
    width: -2px;
    min-height: -6px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  #imCellStyle_3 {
    width: -2px;
    min-height: -5px;
    padding: -30px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_3 {
    left: 1px;
    right: 1px;
  }

  #imCell_10 {
    width: 440px;
    min-height: 63px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 8px;
  }

  #imCellStyle_10 {
    width: 440px;
    min-height: 63px;
    padding: 0px 0px 0px 0px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_9 {
    width: 448px;
  }

  #imGroup_10 {
    width: 448px;
  }

  #imGroup_11 {
    width: 448px;
  }

  #imCell_112 {
    width: 442px;
    min-height: 1906px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  #imCellStyle_112 {
    width: 442px;
    min-height: 1906px;
    padding: 3px 3px 3px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_19 {
    width: 448px;
    height: 0px;
  }
}
@media (max-width: 479px) and (min-width: 360px) {
  .imContentDataContainer {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    width: 328px;
  }

  #imCell_72 {
    width: 324px;
    min-height: 125px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }

  #imCellStyle_72 {
    width: 324px;
    min-height: 125px;
    padding: 3px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_72 {
    left: 2px;
    right: 2px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 46px;
    height: 47px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 249px;
    height: 46px;
  }

  #imCell_3 {
    display: none;
    clear: left;
    width: -2px;
    min-height: -6px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  #imCellStyle_3 {
    width: -2px;
    min-height: -5px;
    padding: -30px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_3 {
    left: 1px;
    right: 1px;
  }

  #imCell_10 {
    width: 322px;
    min-height: 105px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 6px;
  }

  #imCellStyle_10 {
    width: 322px;
    min-height: 105px;
    padding: 0px 0px 0px 0px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_9 {
    width: 328px;
  }

  #imGroup_10 {
    width: 328px;
  }

  #imGroup_11 {
    width: 328px;
  }

  #imCell_112 {
    width: 324px;
    min-height: 1906px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }

  #imCellStyle_112 {
    width: 324px;
    min-height: 1906px;
    padding: 3px 3px 3px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_19 {
    width: 328px;
    height: 0px;
  }
}
@media (max-width: 359px) and (min-width: 320px) {
  .imContentDataContainer {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    width: 288px;
  }

  #imCell_72 {
    width: 284px;
    min-height: 125px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }

  #imCellStyle_72 {
    width: 284px;
    min-height: 125px;
    padding: 3px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_72 {
    left: 2px;
    right: 2px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 46px;
    height: 47px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 45px;
    height: 46px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 249px;
    height: 46px;
  }

  #imCell_3 {
    display: none;
    clear: left;
    width: -2px;
    min-height: -6px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  #imCellStyle_3 {
    width: -2px;
    min-height: -5px;
    padding: -30px 3px 25px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imCellStyleGraphics_3 {
    left: 1px;
    right: 1px;
  }

  #imCell_10 {
    width: 283px;
    min-height: 105px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 5px;
  }

  #imCellStyle_10 {
    width: 283px;
    min-height: 105px;
    padding: 0px 0px 0px 0px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_9 {
    width: 288px;
  }

  #imGroup_10 {
    width: 288px;
  }

  #imGroup_11 {
    width: 288px;
  }

  #imCell_112 {
    width: 284px;
    min-height: 1906px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }

  #imCellStyle_112 {
    width: 284px;
    min-height: 1906px;
    padding: 3px 3px 3px 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #imGroup_19 {
    width: 288px;
    height: 0px;
  }
}
@media (max-width: 319px) {
  .imContentDataContainer {
    width: 100%;
  }

  #imGroup_1 {
    width: 100%;
  }

  #imGroup_3 {
    display: none;
    clear: left;
  }

  #imCell_72 {
    display: none;
    clear: left;
    width: 100%;
    min-height: 34px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }

  #imCellStyle_72 {
    width: 100%;
    min-height: 0px;
    padding: 3px 3px 25px 3px;
  }

  #imCellStyleGraphics_72 {
    top: 3px;
    bottom: 3px;
    left: 5px;
    right: 5px;
  }

  #imTextObject_72_tab0 .image-0 {
    width: 100%;
    max-width: 45px;
  }
  #imTextObject_72_tab0 .image-1 {
    width: 100%;
    max-width: 46px;
  }
  #imTextObject_72_tab0 .image-2 {
    width: 100%;
    max-width: 45px;
  }
  #imTextObject_72_tab0 .image-3 {
    width: 100%;
    max-width: 249px;
  }

  #imCell_3 {
    display: none;
    clear: left;
    width: 100%;
    min-height: 81px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }

  #imCellStyle_3 {
    width: 100%;
    min-height: 0px;
    padding: 50px 3px 25px 3px;
  }

  #imCellStyleGraphics_3 {
    top: 3px;
    bottom: 3px;
    left: 5px;
    right: 5px;
  }

  #imCell_10 {
    clear: left;
    width: 100%;
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }

  #imCellStyle_10 {
    width: 100%;
    min-height: 0px;
    padding: 0px 0px 0px 0px;
  }

  #imGroup_9 {
    width: 100%;
    clear: left;
  }

  #imGroup_10 {
    width: 100%;
    clear: left;
  }

  #imGroup_11 {
    width: 100%;
    clear: left;
  }

  #imCell_112 {
    clear: left;
    width: 100%;
    min-height: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }

  #imCellStyle_112 {
    width: 100%;
    min-height: 0px;
    padding: 3px 3px 3px 3px;
  }

  #imGroup_19 {
    display: none;
    clear: left;
  }
}
