@import 'vendor/mixin/default_variable';
@import 'vendor/mixin/colors';

.price_item {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 16px;

  @media (min-width: 1100px) {
    width: 236px;
  }

  @media (max-width: 1099px) and (min-width: 720px) { 
    width: 316px;
  }

  @media (max-width: 719px) and (min-width: 480px) {
    width: 416px;
  }

  @media (max-width: 479px) and (min-width: 360px) {
    width: 298px;
  }
  @media (max-width: 359px) and (min-width: 320px) {
    width: 256px;
  }

  @media (max-width: 319px) { 
    clear: left;
    width: 100%;
    min-height: 60px;
    padding: 16px 4px;
    box-sizing: border-box;
  }

  .amount{
    font-size: 56px;
  }

  .title{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    z-index: 4;

    @media (max-width: 319px) {
      position: relative;
    }
  }

  .content{
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    padding: 64px 16px 28px 16px;
    border: 2px solid $blue_origin;
    height: 100%;

    @media (min-width: 1100px) {
      width: 236px;
    }

    @media (max-width: 1099px) and (min-width: 720px) {
      width: 316px;
    }

    @media (max-width: 719px) and (min-width: 480px) {
      width: 416px;
    }

    @media (max-width: 479px) and (min-width: 320px) {
      width: 256px;
    }

    @media (max-width: 319px) {
      width: 100%;
      min-height: 0px;
      padding: 16px;
    }
  }

  &.popular {
    .title {
      color: $color_10;
      background-color: $red;
    }

    .description{
      color: $red;
    }

    .content{
      border: 2px solid $red;
      border-radius: 5px;
    }
  }
}