/*.imHidden {display: none;}*/
/*.imBgStretcher {display: none;}*/
/*.imTip { display: none !important; }*/
/*.text-tabs { display: none !important; }*/
/*.text-tab-print-title { display: block !important; font-weight: bold; }*/
/*.text-container, .text-container > div, .text-inner, .text-inner div, .text-tab-content { padding: 0 0 10px 0 !important; height: auto !important; left: auto !important; top: auto !important; position: static !important; display: block !important; clear: both !important; }*/
/*#imHeader {display: none;}*/
/*#imHeaderBg {display : none;}*/
/*#imMnMn {display: none;}*/
/*#imPgMn {display: none;}*/
/*#imFooPad {display: none;}*/
/*#imBtMn {display: none;}*/
/*#imFooter {display : none;}*/
/*#imFooterBg {display: none;}*/
/*#imContent { height: auto !important; }*/
/*img { position: static !important; }*/

/*
     FILE ARCHIVED ON 23:18:09 Mar 14, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:12:21 Nov 09, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.021
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.058
  esindex: 0.016
  cdx.remote: 104.72
  LoadShardBlock: 245.309 (3)
  PetaboxLoader3.datanode: 301.994 (5)
  PetaboxLoader3.resolve: 128.246 (2)
  load_resource: 199.846
  loaddict: 38.727
*/